eat CUSTOMDATA "../Files/eat.wav"
lose CUSTOMDATA "../Files/lose.wav"
song CUSTOMDATA "../Files/song.wav"
blue_power CUSTOMDATA "../Files/blue_power.wav"
green_power CUSTOMDATA "../Files/green_power.wav"
bp CUSTOMDATA "../Files/bp.bmp"
gp CUSTOMDATA "../Files/gp.bmp"
snake CUSTOMDATA "../Files/snake.bmp"