eat CUSTOMDATA "../Files/eat.wav"
lose CUSTOMDATA "../Files/lose.wav"
song CUSTOMDATA "../Files/song.wav"
blue_power CUSTOMDATA "../Files/blue_power.wav"
green_power CUSTOMDATA "../Files/green_power.wav"
bp CUSTOMDATA "../Files/bp.bmp"
gp CUSTOMDATA "../Files/gp.bmp"
snake CUSTOMDATA "../Files/snake.bmp"
countdown CUSTOMDATA "../Files/countdown.wav"
isitme CUSTOMDATA "../Files/isitme.wav"
d_exit CUSTOMDATA "../Files/d_exit.bmp"
u_exit CUSTOMDATA "../Files/u_exit.bmp"
d_start CUSTOMDATA "../Files/d_start.bmp"
u_start CUSTOMDATA "../Files/u_start.bmp"
song_start CUSTOMDATA "../Files/start.wav"
pic_start CUSTOMDATA "../Files/start.bmp"