eat CUSTOMDATA "Game/eat.wav"
lose CUSTOMDATA "Game/lose.wav"
song CUSTOMDATA "Game/song_g.wav"
blue_power CUSTOMDATA "Game/blue_power.wav"
green_power CUSTOMDATA "Game/green_power.wav"
bp CUSTOMDATA "Game/bp.bmp"
gp CUSTOMDATA "Game/gp.bmp"
snake CUSTOMDATA "../Files/snake.bmp"
countdown CUSTOMDATA "Game/countdown.wav"
isitme CUSTOMDATA "Game/isitme.wav"
d_exit CUSTOMDATA "StartMenu/d_exit.bmp"
u_exit CUSTOMDATA "StartMenu/u_exit.bmp"
d_start CUSTOMDATA "StartMenu/d_start.bmp"
u_start CUSTOMDATA "StartMenu/u_start.bmp"
song_start CUSTOMDATA "StartMenu/song_s.wav"
pic_start CUSTOMDATA "StartMenu/start.bmp"